@font-face {
    src: url(/assets/css/fonts/fz-fonts_aliciawonderland/AliciaWonderland.ttf);
    font-family: 'alicia-wonderland';
    font-size: 70px;
    text-align: center;
}

button, div, form, input {
    margin: 20px;
}

h1 {
    font-family: 'alicia-wonderland';
}

body {
    background-image: url("https://wallpapercave.com/wp/zRjY8OP.jpg");
    height: 100%;
    /* Center and scale the image nicely */
    background-size: cover;
}

button {
    padding: 2%;
    margin: 5%;
    background: whitesmoke;
    opacity: .75;
}

.container {
    color: whitesmoke;
}